.container.admin-posts-container
  .row.justify-content-between.px-3
    %h3 Admin posts
    = link_to 'Create Post', new_admin_post_path, class: 'btn btn-dark float-right'

  %table.table.mt-4
    %thead.thead-dark
      %tr
        %th{scope: "col"} #
        %th{scope: "col"}
        %th{scope: "col"} Title
        %th{scope: "col"} Body
        %th{scope: "col"}
    %tbody
      - @posts.each do |post|
        %tr
          %th{scope: "row"}= post.id
          %td
            - if post.featured_image.attached?
              = image_tag(url_for(post.featured_image), class: 'featured-image')
          %td= post.title
          %td= post.body
          %td= link_to 'Edit', edit_admin_post_path(post.id), class: 'btn btn-dark float-right'
